torch==1.12.1+cu116
torchvision==0.13.1+cu116
torchaudio==0.12.1+cu116
numpy==1.21.6
scipy==1.7.3
pandas==1.3.5
scikit-learn==1.0.2
matplotlib==3.5.3
seaborn==0.12.2
pytorch-lightning==0.7.1
tensorboard==2.11.2
hydra-core==0.11.3
omegaconf==1.4.1
lmdb==1.6.2
msgpack==1.0.5
msgpack-numpy==0.4.8
PyYAML==6.0.1
tqdm==4.67.1
h5py==3.8.0
torchmetrics==0.11.4
